<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797029975098-tvcd4098j5mifhfvv2ugj3hds6l4h6uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797029975098-tvcd4098j5mifhfvv2ugj3hds6l4h6uc</string>
	<key>API_KEY</key>
	<string>AIzaSyB2QoVtMRyKdvUo3WQBC5AZxnopMIBVnWY</string>
	<key>GCM_SENDER_ID</key>
	<string>797029975098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitproject</string>
	<key>PROJECT_ID</key>
	<string>friutappdesignwithfirebasedata</string>
	<key>STORAGE_BUCKET</key>
	<string>friutappdesignwithfirebasedata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797029975098:ios:981199c312a87016146103</string>
</dict>
</plist>